/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "0";
                        bindings = <
   &trans &kp Q &kp W &kp F   &kp P     &kp B      &kp J     &kp L       &kp U     &kp Y   &kp SEMI &trans
   &trans &kp A &kp R &kp S   &kp T     &kp G      &kp M     &kp N       &kp E     &kp I   &kp O    &trans
   &trans &kp Z &kp X &kp C   &kp D     &kp V      &kp K     &kp H       &kp COMMA &kp DOT &kp FSLH &trans
                      &kp TAB &kp LSHFT &lt 3 BSPC &lt 2 SQT &lt 1 SPACE &kp RET
                        >;
                };
                1_layer {
                        label = "1";
                        bindings = <
   &trans  &kp EXCL &kp AT   &kp UP   &kp DLLR  &kp PRCNT &kp BSLH  &kp N7 &kp N8 &kp N9 &kp EQUAL &trans
   &trans  &kp LPAR &kp LEFT &kp DOWN &kp RIGHT &kp RPAR  &kp UNDER &kp N4 &kp N5 &kp N6 &kp ESC   &trans
   &trans  &kp LBKT &kp RBKT &kp HASH &kp LBRC  &kp RBRC  &kp ASTRK &kp N1 &kp N2 &kp N3 &kp PLUS  &trans
                          	 &trans   &lt 2 N0  &kp DEL   &trans    &trans &trans
                        >;
                };

                2_layer {
                        label = "2";
                        bindings = <
   &trans &trans &trans &trans &trans &trans &trans &trans &kp LSHFT &kp LSFT &kp LSHFT &trans
   &trans &trans &trans &trans &trans &trans &trans &trans &kp LCMD  &kp LALT &kp LCTRL &trans
   &trans &trans &trans &trans &trans &trans &trans &trans &trans    &trans   &trans    &trans
                    	&trans &trans &mo 1  &trans &trans &trans
                        >;
                };
                3_layer {
                        label = "3";
                        bindings = <
   &trans &kp LSHFT &kp LSFT &kp LSHFT &trans &trans &trans &trans &trans &trans &trans &trans
   &trans &kp LCTRL &kp LALT &kp LCMD  &trans &trans &trans &trans &trans &trans &trans &trans
   &trans &trans    &trans   &trans    &trans &trans &trans &trans &trans &trans &trans &trans
                    	     &trans    &trans &trans &mo 4  &trans &trans
                        >;
                };
        };
};
